.container-home {
  display: flex!important;
  align-items: center;

  &__col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-img-container {
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    max-width: 600px;
  }
}