.container-search {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
}
.advanced-search__paper {
  padding: 1rem 2rem 2rem;
}
.search-loading-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}